.bg-primary {
    background-color: #0077be;
  }
  
  .text-white {
    color: #f2f5f8;
  }
  
  .text-accent {
    color: #b0bec5;
  }
  
  .container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .hero-info {
    max-width: 500px;
  }
  
  .self-img img {
    max-width: 100%;
    height: auto;
  }
  
  .btn {
    font-size: 1.125rem;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: #1f2b3d;
    color: #b0bec5;
    border: 2px solid #b0bec5;
  }
  
  .py-32 {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  
  .hero-info h1 {
    font-size: 3.75rem;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    color: #f2f5f8;
  }
  
  .hero-info .text-xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: 2rem;
    color: #b0bec5;
  }
  
  .hero-info p {
    margin-bottom: 2rem;
    color: #b0bec5;
  }
  
  .hero-info .btn {
    margin-top: 2.5rem;
  }
  
  @media (min-width: 768px) {
    .hero-info {
      margin-right: 4rem;
    }
  }
  
  @media (max-width: 767px) {
    .container {
      padding-right: 30px;
      padding-left: 30px;
    }
  }
  
  @media (max-width: 639px) {
    .hero-info h1 {
      font-size: 3rem;
      line-height: 1.1;
    }
  
    .hero-info .text-xl {
      font-size: 1.5rem;
      line-height: 1.875rem;
    }
  
    .hero-info .btn {
      margin-top: 2rem;
    }
  }
  