.transition-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 1;
    z-index: 2;
    animation: fade-in 2s ease-in-out forwards;
  }
  
  @keyframes fade-in {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  