.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(4, 3, 3);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* color */
.bg-primary {
  background: #1f685d;
}

.bg-secondery {
  background: #1E293B;
}

.bg-accent {
  background: #080811;
}

.text-accent {
  color: #070710;
} 

.mobile-nav {
  @apply block md:hidden fixed top-10 py-2 w-full h-full bg-gray-900 duration-500;
} 

nav li a {
  @apply px-4 py-5 text-lg;
}

nav li a:hover {
  color: #040409;
}

h1 {
  font-family: 'IBM Plex Sans';
  line-height: 1.5 !important;
  color: #040408;
}

h2 {
  font-family: 'IBM Plex Sans';
  line-height: 1.5 !important;
  color: #040408;
}
